
.Nav-bar{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    place-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: black;
}

.link{
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font: bolder;
    position:relative;
}

.Nav-bar a.active{
    color: green;
    font-weight: 700;
}

.cart-length{
    position: absolute;
    top: 0;
    left: 10px;
    color: red;
    font-weight: 700;
    font-size: 20px;

}


@media only screen and (max-width:768px) {
    .Nav-bar{

        bottom: 0;
        top: initial;
    }
}